# OS
.DS_Store
Thumbs.db

# Editors & IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Environment files
.env
.env.*
!env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Backup & temp files
*.bak
*.tmp
*.old
*~

# Build artifacts
dist/
build/
